<div id="micro-chat-spinner">
    <i class="fa fa-5x fa-spin fa-circle-o-notch"></i>
</div>
<div id="micro-chat-container" class="panel panel-default hidden">
    <div id="micro-chat-notification"></div>
    <div id="micro-chat-users-container">
        <div id="micro-chat-users-list-container" class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span class="micro-chat-users-number">0</span> utilisateur<span id="micro-chat-users-plurial"></span> en ligne
                    <button type="button" id="micro-chat-users-close-toggle" class="btn btn-xs btn-info"><i class="fa fa-close"></i></button>
                </h3>
            </div>
            <ul id="micro-chat-users-list" class="list-group"></ul>
        </div>
    </div>

    <button type="button" id="micro-chat-users-open-toggle" class="btn btn-info">
        <span class="micro-chat-users-number">0</span> <i class="fa fa-users"></i>
    </button>
    <div id="micro-chat-content" class="panel-body"></div>
    <div id="micro-chat-form-container" class="panel-footer">
        <form id="micro-chat-form" class="form-horizontal" autocomplete="off">
            <div class="input-group">
                <input id="micro-chat-input" type="text" name="message-content" class="form-control">
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-send"></span> Send
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>