<div class="micro-chat-row">
    <span class="text-info">
        Vous avez été déconnecté de cette conversation. Pour vous reconnecter, il vous suffit de
        cliquer sur le lien suivant : <a href="#" id="micro-chat-link-ajax-reconnexion" onclick="userUpdateConnexionLink(); return false;">Se reconnecter</a>.
    </span>
</div>